.app-wrapper {
  padding: 0 40px;
  box-sizing: border-box;
}

.header-container {
  margin-bottom: 20px;
}

.account {
  display: grid;
  grid-template-columns: 1fr 5fr;
  column-gap: 20px;
}

.profile {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1976d2;
}

.status {
  font-style: italic;
}

.content {
  width: 1000px;
}
