.app-wrapper {
  box-sizing: border-box;
}

.content-wrapper {
  padding: 0 40px;
}

.header-container {
  padding: 0 16px;
  margin-bottom: 20px;
}

.account {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 20px;
}

.profile {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status {
  font-style: italic;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 20px;
}

.messages-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
}

.active {
  font-weight: 700;
}
