.app-wrapper {
  width: 1200px;
  padding: 0 40px;
  box-sizing: border-box;
}

.header {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 20px;
  background-color: white;
}

.logo {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  
}

.nav a {
  text-decoration: none;
  color: black;
}

.account {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.profile {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:lavender;
}

.status {
  font-style: italic;
}

.content {
  width: 1000px;
  border: solid 5px lavender;
}
